<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    
        <nav>
                <div>
                    <title>Asset Management</title>
                </div>
                <div>
                    <input type="search">
                </div>
                <div>
                    <select name="" id="">
                    <option value="">Asset Given</option>
                    <option value="">Asset Balance</option>
                    <option value="">Maintenance</option>
                    </select>
                    
                </div>
        </nav>
    
    </header>


     

    <div>
        <aside>
             <ul>
            <li>Dashboard</li>
            <li>Assets</li>
            <li>Employees</li>
            <li>Assignments</li>
            <li>Maintenance</li>
            <li>Reports</li>
            </ul>
        </aside>
    </div>
</body>
</html>
